/**
 * @name VisualRefresh
 * @author chuteduciel
 * @version 1.1.0
 * @description Recreated new visual from previews (that is upcoming in feature official updates)
 * @invite ZHthyCw
 * @authorId 530715643608170514
 * @source https://github.com/DiscordStyles/SoftX
 * @BDEditor VisualRefresh
*/

:root {
  --discord-gray-0: var(--bg-overlay-chat, var(--custom-channel-members-bg));
  --discord-gray-1: #1e1f22;
  --discord-gray-2: #313338;
  --discord-gray-line: #414247;
  --radius-xs: 8px;
}

/* Hide buttons that are on input message field */
button[aria-label~="gift"] {
  display: none;
}

button[aria-label~="GIF"] {
  display: none;
}

button[aria-label~="sticker"] {
  display: none;
}

.stickerIconOffset_ccd3df {
  display: none;
}

#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > nav
  > ul
  > div.scroller_fea3ef.none_c49869.scrollerBase_c49869
  > div:nth-child(5) {
  display: none;
}

/* Message input */
#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div.chat_a7d72e
  > div.content_a7d72e
  > main
  > form
  > div
  > div.channelTextArea_a7d72e.channelTextArea_d0696b
  > div.scrollableContainer_d0696b.themedBackground_d0696b {
  background-color: var(--discord-gray-2);
  border-radius: 0;
  margin-top: 0.3rem;
}

#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div.chat_a7d72e
  > div.content_a7d72e
  > main
  > form {
  border-top: 1px solid var(--discord-gray-line);
}

/* Base */
.base_a4d4d9 {
  overflow: visible;
}

/* Forum */
#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div.chat_a7d72e {
  width: 200px;
}

/* Forum thread */
#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div:nth-child(6) {
}

/* Server Header */
.header_fd6364 {
  background-color: var(--discord-gray-1);
  box-shadow: none;
}

#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div.sidebar_a4d4d9
  > nav
  > div.container_fd6364.clickable_fd6364.hasBanner_fd6364.bannerVisible_fd6364.theme-dark.images-dark
  > div
  > div {
  width: 300px;
  height: 188px;
}

#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div.sidebar_a4d4d9
  > nav
  > div.container_fd6364.clickable_fd6364.hasBanner_fd6364.bannerVisible_fd6364.theme-dark.images-dark
  > div
  > div
  > img {
  width: 300px;
  height: 188px;
}

/* Channels */
#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div.sidebar_a4d4d9 {
  width: 300px;
}

/* channels wrapper div */

/* Fixes non clickable channels */
#channels {
  background-color: var(--discord-gray-1) !important;
  margin-bottom: 4rem;
}

#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div.sidebar_a4d4d9
  > nav {
  background-color: var(--discord-gray-1) !important;
}

/* Fixes banner getting colored ??? */
div.animatedBannerHoverLayer_fd6364 {
  position: static;
}

#channels > ul > div:nth-child(1) {
  display: none;
}

/* Profile Container */
div.sidebar_a4d4d9 > section {
  border-radius: 1rem;
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.4rem;
  margin-left: -4.1rem;
  width: calc(72px + 300px - 2.1rem);
}

div.container_b2ca13 {
  background-color: var(--discord-gray-2) !important;
  border-radius: 0.5rem;
  padding: 0.2rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Create new server button */
#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > nav
  > ul
  > div.scroller_fea3ef.none_c49869.scrollerBase_c49869
  > div.tutorialContainer_c96c45
  > div.listItem_c96c45
  > div
  > div
  > svg
  > foreignObject
  > div {
  background: none;
  color: var(--channels-default);
}

#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > nav
  > ul
  > div.scroller_fea3ef.none_c49869.scrollerBase_c49869
  > div.tutorialContainer_c96c45
  > div.listItem_c96c45
  > div
  > div
  > svg
  > foreignObject
  > .selected_db6521 {
  color: var(--green-300);
}

/* */
#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div.sidebar_a4d4d9
  > nav
  > div.container_eba0ba.bottom_eba0ba {
  display: none;
}

/* app section icon */
#app-mount
  > div.appAsidePanelWrapper_bd26cc
  > div.notAppAsidePanel_bd26cc
  > div.app_bd26cc
  > div
  > div.layers_d4b6c5.layers_a01fb1
  > div
  > div
  > div
  > div
  > div.chat_a7d72e
  > div.content_a7d72e
  > main
  > form
  > div.channelBottomBarArea_a7d72e
  > div.channelAppLauncher_df39bd {
  margin-left: 0;
}
